@media (max-width: 1200px){
    .promo {
        padding: 20px 0 90px 0;
    }
    .consultation {
        padding: 80px 0 72px 0;    
    }
    .catalog {
        padding-bottom: 60px;
        &__tabs {
            margin-top: 55px;
        }
    }
}
@media (max-width: 991px) {
    .header {
        padding: 0 20px; 
    }
    .promo {
        &__wrapper {
            padding-right: 20px;
            margin-top: 60px;
        }
    }
    .advantages {
        padding: 72px 20px 60px 20px;
        &__items {
            flex-wrap: wrap;
            flex: 0 0 700px;
            justify-content: space-around;
        }
        &__item {
            min-width: 280px;
        }
    }
    .consultation {
        padding: 70px 0 62px 0;  
        .title_left {
            margin-left: 30px;
            font-size: 30px;
            line-height: 40px;
        }
        &__descr {
            margin-left: 30px;
        }    
        .feed-form {
            margin-left: 30px;
        }  
    }  
    .carousel {
        padding: 60px 0;
        &__inner {
            width: 80%;
            img {
                width: 100%;
            }
        } 
        .slick-dots {   
            margin-top: 15px;         
            font-size: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .slick-active {
                margin-right: 5px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                box-shadow: 1px 1px 13px $main-color;               
            }
            li 
                button
                    {
                        width:10px;
                        height: 10px;
                        margin-right: 5px;
                        border: none;
                        border-radius: 100%;
                        color: #6B6B6B;
                    }
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 45px;
        }
        &__content {
            margin: 50px 20px 0 20px;
        }
        &-item {
            width: 290px;
        }
    }   
    .reviews {
        &__items {
            margin: 50px 20px 0px 20px;
        }
    }   
}
@media (max-width: 767px) {
    .promo {
        .header {
            padding: 0px 25px;
            &__official {
                font-size: 11px;
                span {
                    font-size: 17px;
                }
            }
            &__phone {
                font-size: 18px;
            }
            button {
                width: 140px;
            }
        }
        &__wrapper {
            padding-right: 25px;
        }
        &__header {
            font-size: 40px;
            line-height: 40px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            margin-top: 55px;
            width: 420px;
        }
        .button_main {
            margin-top: 55px;
            width: 280px;
        }
    }
    .advantages {
        padding: 60px 25px 60px 25px;
        .title {
            font-size: 25px;
        }
        &__items {
            flex: 0 0 600px;
        }
        &__item {
            flex: 0 0 280px;           
        }
    }
    .consultation {
        padding: 60px 0 60px 0;
        .title_left {  
            font-size: 25px;         
            line-height: 34px;
        }
        &__descr {
            font-size: 17px;
        }
        .feed-form {
            margin-top: 30px;
        }
        .feed-form input {
            height: 48px;
            font-size: 13px;
        }
        .button_submit {
            height: 48px;
            font-size: 14px;
        }
    }
    .catalog {
        .title {
            font-size: 25px;
        }
        &__tabs {
            margin-top: 40px;
            flex-direction: column;
        }
        &__tab {
            width: 200px;
            height: 43px;
            font-size: 15px;
            line-height: 43px;
            margin-bottom: 15px;
        }
        &__content {
            margin: 40px 25px 0 25px;
            justify-content: space-around;
        }
    }
    .reviews {
        .title {
            font-size: 25px;
        }
        &__items {
            margin: 40px 30px 0 30px;
        }
        &__item {
            margin-bottom: 40px;
        }
        &__name {
            font-size: 16px;
        }
        &__status {
            font-size: 12px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 250px;
            padding: 43px 66px 43px 66px;
        }
        &__addr {            
            margin-bottom: 28px;
            font-size: 18px;
            line-height: 21px;
        }
        &__phone {
            margin-bottom: 28px;
            font-size: 18px;
            line-height: 18px;
        }
        &__social-item {
            width: 42px;
            height: 42px;
            img {
                height: 21px;
            }
        }
    }
}   
@media (max-width: 575px) {
    .promo {
        .header {
            &__logo {
                width: 180px;
                img{
                    width: 95%;
                }
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 14px;
            }
            .button {
                width: 130px;
                font-size: 11px;
            }
        }
        &__wrapper {
            padding-left: 20px;
        }
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader {
            font-size: 16px;
            line-height: 16px;
        }
        &__icons {
           display: none;
        }        
        .button_main {
            margin-top: 80px;
        }
    }
    .advantages {
        .title {
            font-size: 20px;
        }
        &__items {
            margin-top: 40px;
            min-width: 300px;
        }
        &__item {
            margin-bottom: 5px;
        }
        &__descr {
            margin-top: 20px;
        }
        &__title {
            font-size: 16px;
        }
        &__text {
            margin-top: 14px;
            font-size: 13px;
        }
    }
    .consultation {
        padding: 60px 0 40px 0;
        .title_left {
            font-size: 20px;
            line-height: 25px;
            text-align: left;
        }
        &__descr {
            font-size: 14px;
        }
        .feed-form {
            margin-top: 20px;
            input {
                margin-bottom: 20px;
                height: 45px;
                font-size: 14px;
            }
        }
        .button_submit {
            height: 45px;
        }
    }
    .catalog {
        .title {
            font-size: 20px;
        }
        &__tabs {
            margin-top: 30px;
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 15px;
        }
        &__content {
            margin: 25px 25px 0 25px;
        }
    }
    .reviews {
        .title {
            font-size: 20px;
        }
        &__items {
            margin: 30px 30px 0 30px;
        }
        &__item {
            flex-direction: column;
            img {
                margin: 0 auto;
                width: 135px;
                height: 135px;
            }
        }
        &__name {
            margin-top: 10px;
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 300px;
            height: 200px;
            padding: 23px 66px 23px 66px;
        }
        &__addr {            
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 21px;
        }
        &__phone {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 16px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            img {
                height: 13px;
            }
        }
    }
    .modal {
        width: 285px;
        padding: 38px 30px 40px 25px; 
        &__close {
            right: -29px;
            font-size: 44px;
            line-height: 21px;
        }     
    }
    .feed-form_mt25 {
        margin-top: 20px;
    }
    .feed-form {
        width: 240px;
        input {
            height: 45px;
            font-size: 13px;
        }
    }
}
